.listing-container {
  background-color: hsl(180, 52%, 96%);
  border: 3px solid rgb(210, 223, 235);
  margin: 10px auto;
  width: 60%;
}
.header {
  height: 100px;
  width: 80%;
  margin: auto;
  background-image: url("./bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
}
.listing-inner-container {
  display: flex;
  align-items: center;

  padding: 10px;
}
.logo {
  margin-top: 10px;
  margin-right: 20px;
  /* margin-bottom: 15px; */
}
.allRows {
  flex-direction: column;
}
.listing-firstRow {
  display: flex;
  flex-direction: row;
}
.listing-secondRow {
  display: flex;
}
.position {
  margin-right: 40px;
}
.role-level-language {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: start;
  color: cornflowerblue;
  font-weight: 500;
}
.role,
.level,
.language {
  background-color: rgb(205, 231, 240);
  margin-right: 15px;
  border-radius: 2px;
}
.listing-thirdRow {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  font-weight: 460;
}
.day {
  margin-right: 8px;
}
.fullTime {
  margin-right: 8px;
}
.position {
  font-weight: bold;
}
.company {
  margin-right: 10px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(12, 183, 240);
}
.new {
  font-weight: 500;
  margin-right: 10px;
  background-color: hsl(207, 55%, 81%);
  border-radius: 5px;
}
.featured {
  font-weight: 500;
  font-size: 15px;
  color: white;
  background-color: hsl(210, 4%, 9%);
  border-radius: 5px;
}
.current-filter {
  text-align: center;
  transform: translateY(-50%);
  background-color: hsl(180, 52%, 96%);
  border: 3px solid rgb(210, 223, 235);
  margin: 10px auto;
  width: 50%;
  height: 40px;
}
.current-select {
  background-color: rgb(205, 231, 240);

  margin-top: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(12, 183, 240);
}
