.listing-container {
  margin: 20px 0px 10px 15px;
  display: flex;
}
.logo {
  margin-right: 20px;
  margin-bottom: 15px;
}
.allRows {
  flex-direction: column;
}
.listing-firstRow {
  display: flex;
  flex-direction: row;
}
.listing-thirdRow {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}
